.MessageDetailView-container {
  display: flex;
  flex: 3;
  flex-direction: column;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.MessageContents-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: relative;
}
